.container {
    display: flex;
    flex-direction: row;
    width:100%;
    padding: 3% 0 0 0;
    margin-left:  10%;
    /* background-color:transparent; */
     /* justify-content: center; */
    align-items: center;
    /* height: fit-content; */
    /* background-color:rgb(3, 3, 104); */

}
.navBar{
    color: white;
    display: flex;
	flex-direction: row; 
}
.aNavBar{
    /* margin-left: 10%; */
    color: white;


}

.fa-bars{
    display: flex;

    margin-right: 30%;

}
.fa-shopping-cart{
    display: flex;
    font-size: 100%;

}
.cartSpan{
    margin-left: 20%;
}












.btn {		
	 position: relative;	
	/* padding: 1.4rem 4.2rem;
	padding-right: 3.1rem; */
	/* font-size: 1.4rem; */
	color: var(--inv);
	/* letter-spacing: 1.1rem; */
	text-transform: uppercase;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
    user-select: none;
	height: 90%; 
	margin-right: 10%;
}

.btn:before, .btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn:hover {
	color: var(--def);
	transition-delay: .5s;
}

.btn:hover:before {
	transition-delay: 0s;
}

.btn:hover:after {
	background: var(--inv);
	transition-delay: .35s;
}

from-top:before, 
.from-top:after {
	left: 0;
	height: 0;
	width: 100%;
}

.from-top:before {
	bottom: 0;	
	border: 1px solid var(--inv);
	border-top: 0;
	border-bottom: 0;
}

.from-top:after {
	top: 0;
	height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
	height: 100%;
}

/* From Left */

.from-left:before, 
.from-left:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-left:before {
	right: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;	
}

.from-left:after {
	left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
	width: 100%;
}

/* From Right */

.from-right:before, 
.from-right:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-right:before {
	left: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;	
}

.from-right:after {
	right: 0;
}

.from-right:hover:before,
.from-right:hover:after {
	width: 100%;
}

/* From center */

.from-center:before {
	top: 0;
	/* left: 50%; */
	height: 100%;
	width: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;
}

.from-center:after {
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	background: var(--inv);
}

.from-center:hover:before {
	left: 0;
	width: 100%;
}

.from-center:hover:after {
	top: 0;
	height: 100%;
}

/* From Bottom */

.from-bottom:before, 
.from-bottom:after {
	left: 0;
	height: 0;
	width: 100%;
}

.from-bottom:before {
	top: 0;	
	border: 1px solid var(--inv);
	border-top: 0;
	border-bottom: 0;
}

.from-bottom:after {
	bottom: 0;
	height: 0;
}

.from-bottom:hover:before,
.from-bottom:hover:after {
	height: 100%;
}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	--def: #96B7C4; 	
	--inv: #fff;
	display: flex;
	/* justify-content: center;
	align-items: center; */
	flex-direction: column;
	/* height: 100%;
	width: 100%; */
    background-image: linear-gradient( #616161 0%, #96B7C4 100%);
    margin: 0;

}

html {
	font-size: 12px;
	font-family: 'Playfair Display', serif;
}


/* div {margin-bottom: 3rem;}
 div:last-child {margin-bottom: 0;} */

 .searchbar {
    margin: 1rem;
  }
  
  .search-field {
    width: 0;
    height: 40px;
    margin-left: 1rem;
    padding: 0;
    border-radius: 50px;
    border: none;
    transition: all 0.5s ease;
  }
  
  .expand-search {
    width: 80%;
    max-width: calc(80% - 3rem);
    border: 1px solid #c9c9c9;
    padding: .5rem;
  }
  
  svg {
    width: 20px;
    height: 20px;
  }
  
  .buttonSearch {
    border-radius: 50px;
  }








  
  @media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}