/* .item{
    width: 13vw;
} */
.carditem{
    width: 230px;
    height: 360px;
    text-align: center;
    padding: 10px;
   
}
.img{
    width: 200px;
    height: 230px;
}
.card-title{
    width: 200px;
    height: 20px;
    font-size: 1rem;
    text-align: center;
 

}
.stars{
    font-size: 16px;
}
.btnAdd{
    width: 100px;
    height: 30px;
    font-size: 14px;
}
#sort{
    margin-top: 5vw;
}
.starsort{
    color: rgb(255, 230, 0);
}
.form-select{
  background-color: rgb(124, 168, 107); 
  font-weight:bolder;
  color: azure;
} 
.card-text{
    font-size: 18px;
    color: rgb(221, 72, 72);
    text-align: center;

}
.pagesNum{
    text-align: center;
    margin: 2rem auto;
    width: 300px;
    /* position: absolute; */
}
.greystars{
    color: rgb(161, 159, 159);
}
.imgsubca{
    width: 3rem;
    position: absolute;
    z-index: 2;
}
.imgproduct{
    position:relative;
    width: 9rem;
}
.shekel{
    font-size: 0.6rem;
}
.price{
    font-size: 1rem;
    font-weight: bold;
    color: indianred;
}
.pricesale{
    font-size: 1rem;
    font-weight: bold;
}
.imgQuickview{
    width: 16rem;
}
.textquick{
    margin-bottom: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}
.titlequick{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.Quickview{
    width: 3rem;
    height: 3rem;
    text-align: center;
   position:absolute;
   right: 1rem;
   top:8rem;
}
.storeItems{
    margin-top: 4rem;
}