.storeCont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
    justify-content: center;
    font-family: 'Yusei Magic', sans-serif;
    margin: 0 auto;
    width: 100%;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px;
    font-family: 'Yusei Magic', sans-serif;
    width: 30%;
}

.storeDisp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
    justify-content: flex-start;
    font-family: 'Yusei Magic', sans-serif;
    width: 70%;
}

.product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px;
    font-family: 'Yusei Magic', sans-serif;
    height: 400px;
    justify-content: flex-end;
}

.filterDiv {
    margin: 10px;
    padding: 10px;
}

.title {
    color: #64495c;
    font-size: 20px;
}

.fa-search-plus {
    width: 30px;
    border: none;
    background-color: white;
    font-size: 18px;
}

.modCon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
}

.modal-title {
    padding: 25px;
}

.modLeft {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 25px;
}

.modal {
    background-color: rgba(0,0,0,0.4)
}

.addMsg {
    color: rgb(194, 78, 132);
}