
  .radioP {
    display: block;
    position: relative;
    padding-left:40px;
    margin:0;
    font-family:arial;
  }

  
  input[type="radio"] {
    display: block;
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
  }
  
  input[type="radio"] + label span.radioButtonGraph {
    appearance: none;
  
    z-index: 20;
    position: absolute;
    top:-3px;
    left:0;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
  
    background: #efefef;
    background-image: radial-gradient(ellipse at center,  #62c2f3 0%,#62c2f3 40%,#efefef 45%);
    background-repeat: no-repeat;
  
    transition: background-position .15s cubic-bezier(.8, 0, 1, 1);
  }
  input[type="radio"]:checked + label span.radioButtonGraph {
    transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1);
  }
  
  input[type="radio"] + label span.radioButtonGraph {
    background-position: -24px 0;
  }
  input[type="radio"]:checked + label span.radioButtonGraph {
    background-position: 0 0;
  }


  .fa-cc-paypal,
  .fa-bitcoin,
  .fa-cc-mastercard,
  .fa-cc-amex,
  .fa-cc-visa{
    margin:0 5px;
    font-size:30px;
  }

  #checkout{
      border:grey 1px solid;
      border-radius: 10px;
  }

  #checkoutBtn{
    background-color: black;
    border-radius: 10px;
    font-size: 15px;
}
  #checkoutBtn:hover{
    background-color:grey
  }

  #couponBtn{
    background-color: orange;
    border-radius: 10px;
    margin:10px auto;
  }
#couponBtn:hover{
  background-color:white
}
