.cardImg{
    width:250px;
    height:250px;
}

.buyBtn{
    background: orange;
    padding:5px 50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border: 1px grey solid;
  }

  
@media only screen and (max-width: 730px) {
    .cardImg { 
        width:150px;
        height:150px;
    }
  }