.topic-preview {
  h1 {
    text-align: center;
    padding-top: 15px;
    font-size: 3.5rem;
  }
  .topic-display {
    display: flex;
    margin: 20px 0px;
    flex-wrap: wrap;
    justify-content: center;

    .collection-item {
      // margin: 0 20px;
      // padding: 100px 0px;
      width: 400px;
      height: 400px;
      margin: 40px 20px 40px 20px;
    }
  }
}
// .topic-preview {
//   display: flex;
// }
