.heart{
    padding: 6px 13px;
}
.imgContain {
    /* border: 2px solid #fff; */
    /* width: 100%; */
    /* height: 184px; */
    overflow: hidden
}

.imgContain img {
    /* width: 100%; */
    /* height: 300; */
    transition: all 1s ease-in-out
}

.imgContain:hover img {
    transform: scale(1.2, 1.2);
    cursor: pointer
}


@media screen and (max-width: 600px) {
    .catalog-title{
        font-size:20px;
    }
  }

