.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  margin: 25px;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    .cart-icon {
      width: 28px;
      height: 28px;
      cursor: pointer;
    }
    .cart-icon:hover {
      width: 32px;
      height: 32px;
    }
    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
      margin: 0px 5px;
      font-size: 15px;
      white-space: nowrap;
      text-align: center;
    }
  }
}
