/* color scheme:
#2e1115
#4f1b1d
#64495c
#83687b
#adadad */

.head {
    background-color: #64495c;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
    justify-content: center;
    font-family: 'Yusei Magic', sans-serif;
    margin: 0 auto;
    
}

.navbtn {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: #adadad;
    font-family: 'Yusei Magic', sans-serif;
    
}

.navbar {
    margin: 0 45px;
}

#search {
    margin: 0 45px;
    width: 250px;
}

.logo {
    margin: 0 45px;
    color: #adadad;
}

.logindiv {
    margin: 0 45px;
    color: #adadad;
}

.login {
    text-decoration: none;
    color: #adadad;
}

.fa-shopping-cart {
    color: white;
    font-size: 18px;
}

.foot {
    background-color: #2e1115;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
    justify-content: center;
    color: #adadad;
    margin: 0 auto;
}

.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    margin: 0 45px;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 3px;
}

.info a {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;

}


.newsletter {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
    margin: 0 45px;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 3px;
}

.social {   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px;
   text-align: center;
    margin: 0 45px;
}

.socialmedia {
    color: white;
    font-size:35px;
    margin: 8px;
}

#subs {
    border: none;
    background-color: #64495c;
    color: white;
    padding: 10px 12px 12px 12px;
    font-family: 'Yusei Magic', sans-serif;
    letter-spacing: 1px;
}

#email {
    padding: 13px;
    border: none;
    width: 220px;
    
}

.infolink {
    text-decoration: none;
    color: #adadad;
}

small {
    font-family: sans-serif
}

.prodCont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
    justify-content: center;
    font-family: 'Yusei Magic', sans-serif;
    margin: 0 auto;
}

.prodDec {width:30%}

.related {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
    justify-content: center;
    margin: 0 auto;
}

.related img {
    width: 100px;
    height: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
    justify-content: center;
    margin: 0 auto;
}

.gallery img {
    width: 100px;
    height: auto;
    margin: 10px;
}

.mainImg img {
    width: 400px;
    height: auto;
}

.mainImg {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
    justify-content: center;
    margin: 0 auto;

}

.prodCont {
    margin: 25px auto;
}

.stock {
    color: green;
}

.prodDec {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px;
    margin-left: 25px;
}

.prodImg {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px;
    margin-right: 25px;
}

.qt {
    padding: 5px;
}

.addcart {
    padding: 5px;
    border: none;
    background-color: #64495c;
    color: white;
    padding: 4px 6px 6px 6px;
    font-family: 'Yusei Magic', sans-serif;
    letter-spacing: 1px;
    margin-left: 15px;
}

.headline {
    font-size: 25px;
    font-weight: bold;
}