#about {
    background-image: url("../data/images/about.jpg");
    height: 300px;
    position: 'relative';
    background-repeat: no-repeat;
    background-size: 'cover';
    background-position: 50% 70%;
}