.starsAdd:after{
    content: ' \2605';
    font-size: 3rem;
  }
  .fa-shopping-bag{
      font-size: 2rem;
  }
  .starsBlanck:after{
    content: ' \2606';
    font-size: 3rem;
    /* border-width: thin;
    border: black; */
  }
  #homePage{
    background-image: url("/images/experisSportLogo.png");
    /* background-repeat:repeat-y; */
    height: 38rem;
  }