
  .fa-shopping-bag{
      font-size: 2rem;
  }
  #homePage{
    background-image: url("/images/bg-img.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    height: 50rem;
  }
  #homeHeadLine{
    padding-top: 10%;
  }
  .myFilters{
    padding-left: 30%;
    padding-top: 5%;
  }
  .myNav{
    margin-bottom: -25px;
  }