.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.items li {
    flex: 1 1 15rem;
    height: 28rem;
    padding: 1rem;
    margin: 1rem;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* border: 1px solid black; */
    width: 215px;
}

.product img {
    max-width: 35rem;
    max-height: 35rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.item-title {
    max-width: 13rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.product-price {
    display: flex;
    align-items: center;
}

.product-price div, .product-price button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.product-price div {
    font-size: 1.5rem;
}

.item-buttons {
    display: inline-block;
}

.button {
    margin-right: 5px;
}