/* .wrapper {
	margin-top: 80px;
	margin-bottom: 80px;
}
 
.form-signin {
	max-width: 380px;
	padding: 15px 35px 45px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
 
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 30px;
}
 
.form-signin .checkbox {
	font-weight: normal;
}
 
.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
 
.form-signin .form-control:focus {
	z-index: 2;
}
 
.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
 
.form-signin input[type="password"] {
	margin-bottom: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
} */


/* $white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2; */

.google-btn {
  height: 36px;
  /* background-color: #4285f4; */
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}
  .google-icon-wrapper {
    position: absolute;
    margin-left: 1px;
    width: 25px;
    height: 25px;
    border-radius: 2px;
    background-color: #fff;
  }
  .google-icon-wrapper.google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .google-icon-wrapper.btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    letter-spacing: 0.2px;
  }
  .google-icon-wrapper.btn-text:hover {
    box-shadow: 0 0 6px #4285f4;
  }
  .google-icon-wrapper.btn-text:active {
    background: #1669F2;
  }


@import url(https://fonts.googleapis.com/css?family=Roboto:500);