.divProduct{
    text-align: center;
    width: 250px;
    position: relative;
    padding: 0px;
    color: black;
  
}
.linkStyle{
    width: 250px;
    /* margin: 20px 5px;
    padding: 22px 0px 0 0; */
    text-decoration: none;
    position: relative;
}
.divMainProduct{
    position: relative;
    margin: 20px 3px;
    padding: 22px 0px 0px 0px !important;
    width: 250px !important;
}

.linkStyle:hover{
    cursor: pointer;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    position: relative;
}
.divMainProduct:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}



a#headerProduct{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.divProduct img{
    width: 248px;
    height: 250px;
}
#brandDiv{
    font-size: 15px;
}
.priceOfProduct{
    text-decoration:none;
    font-size: 20px;
}
.decoration{
    text-decoration:line-through;
}

.discountOfProduct{
    color: red;
    font-size: 20px;
}
.loveIcon{
 position: absolute;
 z-index: 1;
 top: 20px;
 left: 20px;
 font-size: 20px;
}

.loveIcon:hover{
    color: red;
}

.divPrice{
    margin-bottom: 20px;
}

.discNoDisplay{
    display:none ;
}
.hideBtn{
    display: none;
}

.showBtn{
    display: block;
}
.quickBtn{
    position: absolute;
    left: 35%;
    top: 10px;
    color: white;
    background-color: black;
    border: none;
    /* width: 100px; */
    /* height: 30px; */
}
.quickBtn:hover{
  
    color: white;
    background-color: salmon;
    border: none;
 }

 /* .modalll{
     z-index: 20;
 } */

