.img{
    width: 100px !important ;
    height: 120px !important;
  }
.firstrow{
    margin: 60px auto;
  }

.galery{
    margin-top: 50px;
}
.priceAndBtn{
    margin: 20px auto;
    font-size: 18px;
    font-weight: bolder;
    color: rgb(182, 53, 53);
}
#stock{
    color: seagreen;
    font-weight: bolder;
}
.ship{
    font-weight: bolder;
    color:rgb(182, 53, 53) ;
}
.btnSlide{
    
    background-color: green;
   
}
.carousel-item{
    text-align: center;
}
.imgSlide{
    border: 1px solid rgb(2, 177, 2);
    margin: 0 10px;
}
.imgSlide:hover{
    width: 8rem;
    
}
.btnProduct{
    width: 10rem !important;
    margin: 2rem auto;
}