#zoomIn{
    background-color: rgb(16, 132, 199);
    border:1px solid grey;
    border-radius: 5px;
    padding:10px;
    margin-top: 4px;
}

.onsale{
    color:red;
    text-decoration: line-through;
}

.align{
    width:"260px";
    margin:"10px 20px";
    padding:"10px";
    border:"1px lightgrey solid"
}