.homeStyle {
    margin : 10px;
    border : 2px solid gold;
    height : 80rem;
    position: relative;
    text-align: center;
}

.catalogStyle {
    background-image: linear-gradient(120deg, SlateGrey , Silver);
    border: 1px solid gold;
    height: 30%;
    width: 20%;
    margin: 0 100px;
    padding: 70px;
    font-size: 1.5rem;
    color: white;
    position: relative;
    top: 55rem;
}
