

.myContainerAccount{

    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    position: relative;
    min-height: 60vh;
}

.MuiToolbar-root.MuiToolbar-dense.RaAppBar-toolbar-12{
    display: none;
}
.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorSecondary.mui-fixed.MuiPaper-elevation4{

    display: none;
}



/*//////////////////////////////  form   /////////////////////////////////////*/



.myContainerAccount .myForm{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top:20px;
    color: #bcd0f7;
    background: #1A233A;
    direction: rtl;
    text-align: right;
    
  }
 .myContainerAccount .account-settings .user-profile {
      margin: 0 0 1rem 0;
      padding-bottom: 1rem;
      text-align: center;
  }
  .myContainerAccount .account-settings .user-profile .user-avatar {
      margin: 0 0 1rem 0;
  }
  .myContainerAccount .account-settings .user-profile .user-avatar img {
      width: 90px;
      height: 90px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
  }
  .myContainerAccount .account-settings .user-profile h5.user-name {
      margin: 0 0 0.5rem 0;
  }
  .myContainerAccount .account-settings .user-profile h6.user-email {
      margin: 0;
      font-size: 0.8rem;
      font-weight: 400;
  }
  .myContainerAccount .account-settings .about {
      margin: 1rem 0 0 0;
      font-size: 0.8rem;
      text-align: center;
  }
  .myContainerAccount .card {
      background: #272E48;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 0;
      margin-bottom: 1rem;
  }
  .myContainerAccount .form-control {
      border: 1px solid #596280;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      font-size: 1.2rem;
      background: #1A233A;
      color: #bcd0f7;
  }

  /*//////////////////////////////  form end  /////////////////////////////////////*/
