
.myContainer{

    max-width: 1200px;
    margin: auto ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 200px;
    margin-bottom: 150px;
    align-items: center;
    justify-content: center;
}
.myContainer img{

    padding: 0px 12px;
    width: 100%;

}
.myBox{
    width: 30%;
    margin: 13px;
    padding: 10px 0px;
    background-color: white;
    border: rgb(239, 68, 255) solid 4px;
    cursor: pointer;
}
.details{
    margin: 0px 12px;
    padding: 12px;
    background-color: white;
    font-size: 20px;
    direction: rtl;
    height: 90px;
}
.myBox:hover{

    transform: scale(1.1)
}