

.myContainerCart{

    max-width: 1200px;
    margin: auto ;
    margin-bottom: 0px;
    min-height: 80vh;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: rgb(227,226,222);
}

.statusOrder{

    padding-bottom: 60px;
    padding-top: 60px;
}
.btnRow{
    direction: rtl;
    margin: 0px 20px;

}
.btnRow button{

    padding: 10px 30px;
    margin-left: 20px;
    border-radius: 10px;
    color: white;
}

.myRowCart{

    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    direction: rtl;
}

.productList{

    flex: 60%;
    display: flex;
    flex-direction: column;
    margin: 0px 20px;

}
.orderSummary{
    flex: 35%;
    margin-left: 20px;
}
.orderSummary li{

    margin-bottom: 15px;
    border-bottom: rgb(90, 89, 89) solid 1.5px;
}
.emptyCart{

    background-image: url(/src/empty-cart.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    position: relative;
    min-height: 300px;
    background-size: 30%;
    
}
.emptyCart h3{

    position: absolute;
    top: 10%;
    right: 20%;

}


 /* //////////////////////  status order  //////////////////////*/

 .steps .step {
    display: block;
    width: 100%;
    margin-bottom: 35px;
    text-align: center
}

.steps .step .step-icon-wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 80px;
    text-align: center
}

.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
    display: block;
    position: absolute;
    top: 50%;
    width: 50%;
    height: 3px;
    margin-top: -1px;
    background-color: #e1e7ec;
    content: '';
    z-index: 1
}

.steps .step .step-icon-wrap::before {
    left: 0
}

.steps .step .step-icon-wrap::after {
    right: 0
}

.steps .step .step-icon {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    border: 1px solid #e1e7ec;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #374250;
    font-size: 38px;
    line-height: 81px;
    z-index: 5
}

.steps .step .step-title {
    margin-top: 16px;
    margin-bottom: 0;
    color: #606975;
    font-size: 14px;
    font-weight: 500
}

.steps .step:first-child .step-icon-wrap::before {
    display: none
}

.steps .step:last-child .step-icon-wrap::after {
    display: none
}

.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
    background-color: rgb(155,23,80)
}

.steps .step.completed .step-icon {
    border-color: rgb(155,23,80);
    background-color: rgb(155,23,80);
    color: #fff
}

@media (max-width: 576px) {
    .flex-sm-nowrap .step .step-icon-wrap::before,
    .flex-sm-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 768px) {
    .flex-md-nowrap .step .step-icon-wrap::before,
    .flex-md-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 991px) {
    .flex-lg-nowrap .step .step-icon-wrap::before,
    .flex-lg-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 1200px) {
    .flex-xl-nowrap .step .step-icon-wrap::before,
    .flex-xl-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

.bg-faded, .bg-secondary {
    background-color: #f5f5f5 !important;
}

  /* //////////////////////  status order end //////////////////////*/

@media only screen and (max-width: 1250px) {


.orderSummary{
    margin-top: 30px;
    border-top: rgb(93,0,29) solid 6px;
}
.myContainerCart{
    margin: 0px 100px;
}

}

@media only screen and (max-width: 600px) {

    .myContainerCart{
        margin: 0px;
    }
    .btnRow button{

        padding: 10px 30px;
        margin-bottom: 20px;
        border-radius: 10px;
        color: white;
        width: 200px;
    }
    .emptyCart{
        background-size: 50%;
    }
}
