/* .divFooter{
    height: 300px;
    width: 100%;
    position: relative;

}
.container-footer-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 60px;
    justify-content: space-between;

}
.container-footer-column{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.container-footer-column h3{
    
    font-size: 12px;
    color: white;
    padding-bottom: 20px;


}
.container-footer-column p{
    
    font-size: 12px;
    color: rgb(168, 168, 168);
    margin-top: 10px;

}

.container-icons{
    display: flex;
    flex-direction: row;
    
    color: red;
    font-size: 15px;
    margin-top: 30px;
    
    
}
.container-icons :first-child {
    margin-left: 0;
    padding-left: 5px;
    border-radius: 100%;
    border: 1px solid rgb(51, 51, 51);
    height: 25px;
    width: 25px;
    padding-top: 5px;
    padding-right: 5px;
    margin-right: 5px;
}
.container-icons i{
    
    border-radius: 100%;
    border: 1px solid rgb(51, 51, 51);
    height: 25px;
    width: 25px;
    padding-top: 5px;
    padding-left: 5px;
    margin-right: 5px;

}
.contact-info{
    color: rgb(168, 168, 168);
    font-size: 10px;
    line-height: 1.6;
    margin-top: 19px;
}
.container-footer-column h4{
    font-size: 12px;
    color: white;
    margin-top: 19px;
    margin-bottom: 20px;
}
.contact-category{
    color: rgb(233, 233, 233);
    font-size: 10px;

}
.container-footer-column a{
    color: red;
    font-size: 10px;
    line-height: 1.6;
    margin-top: 10px;
    padding-left:10px ;
    text-decoration: none;
    
}
.margin-for-quick-links{
    margin-left: 10px;
}
.divFooter p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(168, 168, 168);
    font-size: 10px;
    line-height: 1.6;
    margin-top: 100px;
 
}

footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
} */

.main {
	max-height: 550px;;
	color: white;
	font-size: 38pt;
	text-align: center;
	line-height: 550px;
}
/* footer{
	position: fixed;
	bottom: 0;
} */
.footer-distributed{
	/* background-color: #292c2f; */
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	background-color: var(--mainBlue);

	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}