
/* .myLogo{

    background-image: url(/images/logo.jpeg);
    background-repeat: no-repeat;
    background-size: 150%;
    border-radius: 50%;
    width: 200px;
    height: 100px;
    margin-right: 100px;
    
    } */

