
.myLogo{

    background-repeat: no-repeat;
    background-size: cover;
    min-width: 70px;
    min-height: 70px;
    float: right;    
    }

.navbar{

    direction: rtl;

}
.userIcon{
    cursor: pointer;
}
.navbar-text i{
    font-size: 35px;
    color:rgb(250, 156, 184);
    margin: 20px;
}
#serchInput{
    max-width: 200px;
    min-width: 150px;

}
/* #serchIdBtn{
  

}
#userIcon{

    position: relative;    
} */
#hello{
    position: relative;
    display: inline-block;
    font-size: 15px;
}
