
.myLogo{

    background-repeat: no-repeat;
    background-size: 100%;
    width: 100px;
    min-width: 100px;
    height: 100px;
    min-height: 80px;
    float: right;    
    }

.navbar{

    direction: rtl;

}
.navbar-text i{
    font-size: 35px;
}
#serchInput{
    max-width: 200px;

}
#serchIdBtn{
  

}



