
.myContainer{
    

    max-width: 1200px;
    margin: auto ;
    margin-top: 120px;
    margin-bottom: 150px;
    min-height: 40vh;
    align-items: center;
    justify-content: center;

}
.myRow{

    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.textOnMe{
    align-items: center;
    justify-content: center;
    background-color: white;
    flex: 45%;
    padding: 40px;
    text-align: right;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.myImage{

    flex: 30%;
    height: auto;
    border-top-right-radius: 20px;
    background-image: url(/src/shirley.jpeg);
    border-bottom-right-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.mySlider{
    
    display: flex;
    flex-direction: row;

}