

#bg{
    background-color:rgb(250,228,241);
}
.img-size{
    width: 600px;
    height: 450px;
}

.card-text{
    clear: both;
}
.myCard{
    max-width: 500px;
}

.margin-top-product{

    padding-top: 120px;
    padding-bottom: 50px;

}
#priceChoice{

    font-size: 30px;
    height: 60px;
    color: red;
    font-weight: bold;
    margin-right: 50px;
    margin-top: 10px;
}
.btn-group label{

padding: 15px 25px;
font-size: 15px;

}
.card-body i{
    font-size: 30px;
    padding: 0px;
    margin-left: 0px;
}
.card-body button{

    padding: 5px 10px;
    font-size: 20px;
}

.card-body textarea{

    position: absolute;
    left: 10px;
    bottom: 10px;
    resize: none;
    padding: 5px;
    font-size: 20px;
}
.btn-outline-danger i{

    
    font-size: 30px;
    color:rgb(250, 156, 184);
    margin: 20px;
}
/* ///////////////////////////////////////// stars  /////////////////////////////////////////////*/

.stars1 {

    display: flex;
    flex-direction: row-reverse;
    float: right;
}

.stars2 {
    position: absolute;
    left: 15px;
    bottom: 35px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: white;
    border: black solid 1px;
    border-radius: 15px;
    padding: 0px 10px;
    
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 45px;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}
/* ///////////////////////////////////////// stars end /////////////////////////////////////////////*/


/*////////////////////////    popup    //////////////////////////////////////*/

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
/*////////////////////////    popp  end  //////////////////////////////////////*/

#btnShop{

    padding: 10px 30px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
}

/*//////////////////////   form    /////////////////////////////*/

.formProduct{

    max-width: 1200px;
    margin: auto ;
    min-height: 40vh;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.formRecipe{


    flex: 100%;
    direction: rtl;
    background-color: rgb(227,226,222);
    padding: 20px 10px;
    border: solid 1.2px;


}
.formRecipe input{

    font-size: 23px;
    border-radius: 20px;
    border: solid 1.2px;
    min-width: 180px;
}

.formRecipe textarea {

    font-size: 23px;
    resize: none;
    border-radius: 20px;
    border: solid 1.2px;
    min-width: 150px;
    padding: 20px;
 }
 
 .vlidMassege{
    font-size: 18px;
}
  
.formProduct .topnav {
    overflow: hidden;
    position: relative;
    
  }
  
  .formProduct .topnav #myLinks {
    display: none;
  }
  
  .formProduct .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-align: center;
  }
  
  .formProduct .topnav a:hover {
    background-color: rgb(238,76,125);
    color: black;
    cursor: pointer;
  }
  
 .formProduct .active {
    background-color: rgb(155,23,80);
    color: white;
  }
  #bg h3 {

    text-align: center;
  }
/*/////////////////////////       form end      ////////////////////////////////////*/

@media (max-width: 1250px) {
    .img-size {
        width: 600px;
        height: 450px;
    }
    .card{
        width: 600px;
    }
    .contFeedback{
        width: 600px;
        padding: 20px 0px;
    }
    .container{
        width: 600px;
    }
    
}
@media (max-width: 600px) {
    .img-size {
        width: 300px;
        height: 250px;
    }
    .carousel-item img{
        width: 100% !important;
        height: auto !important;
    }
    .card{
        width: none;
    }
    .contFeedback{
        width: 90%;
        padding: 10px 0px;
    }
    .contFeedback .stars2{
        clear: both;
        position:static;

    }
    .contFeedback h3{
        clear: both;
        position:static;

    }
    #addFeedback textarea{
        margin-left: 15px;
        position:static;

    }
    .centered{
        position: static;
    }
    .lgbtn{
        position: static;
        padding: 0px 15px;
        font-size: 17px;
        border-radius: 5px;
    }
    .container{
        width: none;
    }
    .btn-outline-danger{
        margin-bottom: 220px;
    }
    .card-body{
        padding-bottom: 0px;
    }
    .card-body textarea{
        margin-left: 60px;
    }
}
