

.containerOfSpinner{

    max-width: 1200px;
    margin: auto ;
    margin-top: 120px;
    margin-bottom: 150px;
    min-height: 50vh;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;

}

