

.myContainerRecipesProduct{

    max-width: 1200px;
    margin: auto ;
    margin-top: 100px;
    margin-bottom: 150px;
    min-height: 40vh;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.imageRecipe{

    min-width: 300px;
    max-width: 500px;
    height: auto;
    border: white solid 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto ;


}

.imageRecipe img{

    width: 100%;
    height: 100%;
}


.myRowText{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    direction: rtl;
    margin-top: 40px;
    text-align: right;

  }
.colText{

    flex :50%;
}
.myContainerRecipesProduct hr{

    color: black;
    height: 5px;
}
@media only screen and (max-width: 500px) {

    .colText{

        flex :100%;
        margin-bottom: 50px;
    }

}

/*//////////////////////   form    /////////////////////////////*/


.formRecipe{


    flex: 100%;
    direction: rtl;
    background-color: rgb(227,226,222);
    padding: 20px 10px;
    border: solid 1.2px;


}
.formRecipe input{

    font-size: 23px;
    border-radius: 20px;
    border: solid 1.2px;
    min-width: 180px;
}

.formRecipe textarea {

    font-size: 23px;
    resize: none;
    border-radius: 20px;
    border: solid 1.2px;
    min-width: 150px;
    padding: 20px;
 }
 
 .vlidMassege{
    font-size: 18px;
}
  
.myContainerRecipesProduct .topnav {
    overflow: hidden;
    position: relative;
    
  }
  
  .myContainerRecipesProduct .topnav #myLinks {
    display: none;
  }
  
  .myContainerRecipesProduct .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
  }
  
  .myContainerRecipesProduct .topnav a:hover {
    background-color: rgb(238,76,125);
    color: black;
    cursor: pointer;
  }
  
 .myContainerRecipesProduct .active {
    background-color: rgb(155,23,80);
    color: white;
  }
/*/////////////////////////       form end      ////////////////////////////////////*/

.rowComment{

    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    padding: 10px;

}
.detailMassege{

    text-align: right;
    flex: 15%;
}
.theMassege{

    text-align: right;
    flex: 60%;
}



@media only screen and (max-width: 500px) {


    .detailMassege{

        padding-bottom: 10px;
    }
    .theMassege{

        border-top: black solid 2px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .myContainerRecipesProduct{
        padding: 10px;
    }


}