
.sortBar{
    
    margin: auto;
    text-align: center;
    justify-content: center;
    background-color: rgb(245, 233, 250);
    padding: 20px;
    width: 100%;
    color: rgb(250,156,184);
    height: 200px;
    direction: rtl;
    font-size: 20px;
    font-family: sans-serif;
    border-bottom:rgb(250,156,184) solid 6px;
    border-top: rgb(250,156,184) solid 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.activeBtn{

    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgb(250,156,184);
    border-radius: 9px;
    display: none;
    margin: 12px 0px;

}
.activeBtn i{

    margin: 0px 10px;
}
.activeBtn:active , .activeBtn:visited , .activeBtn:link , .activeBtn:hover{
    color: white;
}

.sortBar select{

    padding: 5px 20px;
    border-radius: 10px;
    background-color: rgb(250,156,184);
    color: white;

}
.sort{

    width: 15%;

}

.sortBar .sort label{

    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.filter{


    width: 15%;
    border-right: rgb(94, 93, 93) solid 2px;

}
.filter p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}




/* ////////////////////////////////////    checkbox button    ///////////////////////////////////////// */
.sortBar .btn-group{
    direction: ltr;
    margin-bottom: 10px !important;
}
.sortBar .btn-primary{
    background-color:  rgb(250,156,184) !important;
    border: rgb(243, 146, 227) !important;
    text-align: center;
    justify-content: center;
    
}
.sortBar .btn-group label{
    padding: 3px 25px !important;
}
.sortBar .form-group input[type="checkbox"] {
    display: none;
}
.sortBar .btn-default{
    background-color: white;
    font-size: 16px !important;

}

.sortBar .form-group input[type="checkbox"] + .btn-group > label span {
    width: 5px;
}

.sortBar .form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.sortBar .form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.sortBar .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.sortBar .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}
/* ////////////////////////////////////     price   ///////////////////////////////////////// */


.priceFilter{

    width: 15%;
    border-right: rgb(94, 93, 93) solid 2px;
    font-size: 20px;
}
#invalid{
    color: red;
    font-size: 14px;
    margin-top: 10px;

}

.priceFilter input{

    width: 30%;
}
.priceFilter label{

    width: 60%;
    margin: 5px;
}


/* ////////////////////////////////////     price end  ///////////////////////////////////////// */

@media only screen and (max-width: 1370px) {
    .sortBar{
        height:auto;

    }
    .filter{
        width: 30%;
        border-bottom: rgb(94, 93, 93) solid 2px;

    }
    .sort{
        width: 30%;
        border-bottom: rgb(94, 93, 93) solid 2px;

    }
    .priceFilter{
        width: 40%;
        border-bottom: rgb(94, 93, 93) solid 2px;

    }

}
@media only screen and (max-width: 800px) {
    
    .sortBar{
        height:auto;

    }
    .filter{
        width: 45%;
    }
    .sort{
        width: 45%;
    }
    .priceFilter{
        width: 60%;

    }

}
@media only screen and (max-width: 500px) {
    
    .sortBar{
        height:auto;
        flex-direction: column;
        border-left: rgb(94, 93, 93) solid 2px;

    }
    .filter{
        width: 100%;
        border-left: rgb(94, 93, 93) solid 2px;
        

    }
    .sort{
        width: 100%;
        padding-bottom: 20px;
        border-left: rgb(94, 93, 93) solid 2px;
        border-right: rgb(94, 93, 93) solid 2px;
        border-top: rgb(94, 93, 93) solid 2px;

    }
    .priceFilter{
        width: 100%;
        border-left: rgb(94, 93, 93) solid 2px;

    }
    .activeBtn{

        display: inline;
    }

}
