.postSec {
padding: 30px;
background-color: cornsilk;
width: 90%;
margin: 0 auto;
}

.commentSec {
    padding: 30px;

background-color:beige;
width: 90%;
margin: 30px auto;

}

.singleComm {
    background-color: #83687b;
    padding: 10px;
    margin: 10px;
}

.post1 {
    background-color: tan;
    padding: 30px;
    margin: 0px;
}