

  
  code {
    font-size: 80%;
  }

  .stars{
    color: rgb(255, 230, 0);
  }
 /* .img:hover{
  width:60px;
  height:60px;
 } */
 .row{
   grid-row-gap: 20px;
 }
 .product{
   margin-top: 30px;
   margin-bottom: 50px;
 }
 .card{
  width: 230px;

 }
 .greystar{
  color: rgb(175, 175, 175);
}
a{
  text-decoration: none;
  color: green;
}

 @media only screen and (max-width: 600px) {
/* .card{
  width: 50vw;
} */

 }
