.moreDiv{
    /* font-size: 20px; */
    margin-top: 10px;
    display: block;
}
.lessDiv{
    /* font-size: 20px; */
    margin-top: 10px;
    display: none;
}
.moreSpan{
    font-size: 22px;
    float: right;
    margin-right: 10px;
    cursor: pointer;

}

.listCategory ul{
    list-style: none;
    font-size: 22px;
    padding-left:0px;
}
.brandList b{
    font-size: 22px;
}
.brandList input{
    margin-bottom: 5px;
    cursor: pointer;
}
.brandList label{
    margin-left: 5px;
    font-size: 18px;
    margin-bottom: 5px;
}

li:hover{
    font-size: 1.2em;
    cursor: pointer;
}
.listCategory{
    padding: 0px 20px ;
}

/* .listCategory{
    position: fixed;
} */

@media only screen and (max-width: 645px) {
    .listCategory{
        display: none;
    } 
  }
